.terminal {
    width: 100%;
    height: 100%;
}

.terminal .terminal-display span {
    white-space: pre;
}

.terminal .terminal-display {
    height: calc(100% - 40px);
    background-color: #211d1d;
    color: #b4b4b4;
    padding: 0 14px;
    overflow-y: auto;
}

.terminal .terminal-display ul {
    margin:0;
    list-style: none;
}

.terminal .terminal-input {
    width: 100%;
    height: 40px;
    color: #ffffff;
    background-color: #211d1d;

    overflow-x: hidden;
}

.terminal .terminal-input input {
    width: 100%;
    height: calc(100% - 1px);
    padding: 0 14px;
    margin: 0;
    
    border: 0;
    border-top: 1px solid #2d2828;

    color: #ffffff;
    background-color: #211d1d;
}